<h1>Stupid Coach</h1>
<div>
  <div class="quote">
    <p><%= @message %></p>
    <p><i>- You</i></p>
  </div>
  <div class="quote" id=quote-coach>
    <p><%= @answer %></p>
    <p><i>- Your coach</i></p>
  </div>
</div>
<%= link_to "Ask more questions", "ask" %>



